.row::after {
  content: "";
  clear: both;
  display: table;
}
[class*="col-"] {
  float: left;
}
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    // border:1px solid black;

    font-size: @fontsize * 2;
  }
}
// #DB1309
@headerColor: #C63D0F;
@textColor:#3B3738;
@backgroundColor: #e2e1e0;
@backgroundColorBoxes: #ecf0f1;
@backgroundWhite:#ffffff;
@fontsize: 10px;
// @imageLogoHeader: url("pictures/security.jpg");
@backgroundImageHeader: url("pictures/security.jpg");
@backgroundImage: url("");

html {
  font-family: 'Raleway', sans-serif;
}
body {
  // background-image: @backgroundImage;
  // background-repeat:no-repeat;
  background-color:@backgroundColor;
  width: 100%;
  margin:0;
  padding:0;
}

label {
  display:block;
  font-size: @fontsize * 2.0;
  margin:20px;
}

input[type='radio'] {
  transform: scale(2);
  // margin:10PX;
}

#title {
  color:@textColor;
  font-weight: 700;
  font-size: @fontsize * 4;
  margin:10px;
  // border-bottom: 5px solid @headerColor;
  // background-color: #B20761;
  // color:white;
}

#subtitle {
  color:@textColor;
  font-weight: 900;
  font-size: @fontsize * 1.5;
}

#content {
  color:@textColor;
  font-size: @fontsize * 1.5;
}

#footer  {
  color:@textColor;
  padding:5px;
  a {
    display:inline-block;

    &.fa {
      padding: 15px;
      font-size: 15px;
      width: 15px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
      border-radius: 50%;
      color:white;

      &.fa-twitter {
        background: #55ACEE;
      }
    }
  }
}

#logoItem {
  height:75px;
  width:75px;
}

#warning {
  color:@headerColor;
  font-style: italic;
  font-weight: bold;
  margin-bottom:20px;

}
#header-title {
  color:@textColor;
  font-size:@fontsize * 4;
  padding:10px;
  font-weight:bolder;
}
#resultTitle {
  color: #3B3738;
  font-weight: 700;
  font-size: 40px;
  margin: 10px;
}

.labelform {
  color:@textColor;
  font-weight: 700;
}

.forminput {
  margin:10px;
  height: @fontsize * 3;
  font-size: @fontsize * 1.5;
  // width: 600px;
  text-align: center;
}

.footer {
  position: fixed;
  padding: 0;
  bottom:0;
  left:0;
  width:100%;
  background-color: @headerColor;

}

.container-result {
  border:1px solid white;
  display:none;
  margin-left:20px;
  margin-right:20px;
  // margin-top: 100px;
  margin-bottom:300px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 10px;
}

.container-content {
  // background-color: #FDF3E7;
  color:@textColor;
  background-color: @backgroundColorBoxes;
  margin-left:20px;
  margin-right:20px;
  margin-top: 100px;
  margin-bottom:100px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  // border:5px solid @headerColor;
  border-radius: 10px;
}

.container-result {
  color:@textColor;
  background-color: @backgroundColorBoxes;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.question {
  // padding-top:10px;
  color:@textColor;
  font-size: @fontsize * 2;
  font-weight:700;
  margin:10px;
  // background-color: #B20761;

  .fa {
    font-size: @fontsize * 3;
    padding:10px;
  }
}

.header {
  color:@textColor;
  background-image:@backgroundImageHeader;
  height: 125px;
  margin:0;
  padding:0;
  background-repeat:round;
}

.subheader {
  background-color: @headerColor;
  color: @backgroundWhite;
  padding: 10px;
  margin:0;
  fontsize:@fontsize * 4;
}

.container-question {
  margin:15px;
  margin-left:20px;
  margin-right:20px;
  margin-top:100px;
}

.container-logo {
  float:right;
  padding:2px;
  width: 80px;
  height:75px;
  border-radius: 0px 0px 0px 10px;
  background-repeat:no-repeat;
  background-color:@backgroundWhite;
}

.container-page {
  // background-color: @backgroundImage;
  // width:100%;
}

.warning-form {
  padding:10px;
  color:red;
  font-style:italic;
}

.center {
  text-align: center;
}

.fa:hover {
  opacity: 0.7;
}

.form {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  display: none;
  margin-left:20px;
  margin-right:20px;
  margin-top: 0px;
  margin-bottom:70px;
  background-color: @backgroundColorBoxes;
  border-radius: 10px;
}

// button
.questionButton {
  border: none;
  background-color:@headerColor;
  border-radius: 5px;
  color: @backgroundColorBoxes;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  line-height: 46px;
  font-weight: 400;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 16px;
  border-radius: 23px;
  letter-spacing: 2px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.questionButton:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: @backgroundColorBoxes;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.questionButton:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid @headerColor;
  content: '';
  border-radius: inherit;
}
.questionButton:hover,
.questionButton.hover {
  background-color: @headerColor;
  color: #ffffff;
}
.questionButton:hover:before,
.questionButton.hover:before {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 0.25;
}
